In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
data = pd.read_csv('./data/행정안전부_지역별(행정동)_성별_연령별_주민등록_인구수_20240930.csv', encoding = 'cp949')
data

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,0세남자,1세남자,...,101세여자,102세여자,103세여자,104세여자,105세여자,106세여자,107세여자,108세여자,109세여자,110세이상 여자
0,1111051500,2024-09-30,서울특별시,종로구,청운효자동,11143,5079,6064,25,21,...,0,1,1,0,0,0,0,0,0,0
1,1111053000,2024-09-30,서울특별시,종로구,사직동,8995,3948,5047,8,15,...,3,0,0,0,0,0,0,0,0,0
2,1111054000,2024-09-30,서울특별시,종로구,삼청동,2234,1073,1161,1,3,...,0,1,0,0,0,0,0,0,0,0
3,1111055000,2024-09-30,서울특별시,종로구,부암동,9054,4255,4799,14,12,...,0,2,0,1,0,0,0,0,0,0
4,1111056000,2024-09-30,서울특별시,종로구,평창동,17232,7987,9245,27,35,...,1,3,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,5280038000,2024-09-30,전북특별자치도,부안군,백산면,2336,1163,1173,4,0,...,0,0,0,0,0,0,0,0,0,0
3610,5280039000,2024-09-30,전북특별자치도,부안군,상서면,2047,1021,1026,0,3,...,0,0,0,0,0,0,0,0,0,0
3611,5280040000,2024-09-30,전북특별자치도,부안군,하서면,2374,1174,1200,1,2,...,0,1,0,0,0,0,0,0,0,0
3612,5280041000,2024-09-30,전북특별자치도,부안군,줄포면,2430,1203,1227,1,4,...,0,0,0,0,0,0,0,0,0,0
3613,5280042000,2024-09-30,전북특별자치도,부안군,위도면,1090,605,485,0,1,...,0,1,0,0,0,0,0,0,0,0

0~9
10~19
20~29
30~39
40~49
50~59
60~~

In [4]:
data['행정기관코드'].dtype

dtype('int64')

In [5]:
data['행정기관코드'] = data['행정기관코드'].astype(str)

In [6]:
data['행정기관코드'].dtype

dtype('O')

In [7]:
# '행정기관코드'의 앞 2자리가 '41'인 것만 남기고 data에 덮어쓰기
data = data[data['행정기관코드'].str.startswith('41')]

# 결과 확인
data

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,0세남자,1세남자,...,101세여자,102세여자,103세여자,104세여자,105세여자,106세여자,107세여자,108세여자,109세여자,110세이상 여자
1200,4111156000,2024-09-30,경기도,수원시 장안구,파장동,24855,12547,12308,70,60,...,1,1,0,0,0,0,0,1,1,0
1201,4111156600,2024-09-30,경기도,수원시 장안구,율천동,40038,21219,18819,97,82,...,2,0,1,0,0,1,0,0,0,0
1202,4111157100,2024-09-30,경기도,수원시 장안구,정자1동,33382,16341,17041,81,83,...,0,0,1,0,0,0,0,0,0,0
1203,4111157200,2024-09-30,경기도,수원시 장안구,정자2동,38503,18857,19646,105,111,...,2,1,0,0,0,0,0,0,0,0
1204,4111157300,2024-09-30,경기도,수원시 장안구,정자3동,39054,19531,19523,64,81,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09-30,경기도,양평군,청운면,3748,1938,1810,2,1,...,0,0,0,0,0,1,0,0,0,0
1799,4183038000,2024-09-30,경기도,양평군,양동면,4518,2286,2232,2,4,...,0,1,1,1,0,0,0,0,0,0
1800,4183039500,2024-09-30,경기도,양평군,지평면,6688,3411,3277,3,12,...,0,2,0,0,0,0,0,0,0,0
1801,4183040000,2024-09-30,경기도,양평군,용문면,18720,9414,9306,21,39,...,0,1,0,0,0,0,0,0,0,1
1802,4183041000,2024-09-30,경기도,양평군,개군면,5100,2606,2494,3,5,...,2,0,0,0,0,0,0,0,0,0

In [33]:
data['행정기관코드'] = data['행정기관코드'].astype(np.int64)

In [34]:
data['행정기관코드'].dtype

dtype('int64')

In [10]:
data.columns

Index(['행정기관코드', '기준연월', '시도명', '시군구명', '읍면동명', '계', '남자', '여자', '0세남자',
       '1세남자',
       ...
       '101세여자', '102세여자', '103세여자', '104세여자', '105세여자', '106세여자', '107세여자',
       '108세여자', '109세여자', '110세이상 여자'],
      dtype='object', length=230)

In [15]:
for age in range(60, 111):
    column_name = f"'{age}세여자'"
    # 원하는 작업 수행
    print(column_name, end=", ")

'60세여자', '61세여자', '62세여자', '63세여자', '64세여자', '65세여자', '66세여자', '67세여자', '68세여자', '69세여자', '70세여자', '71세여자', '72세여자', '73세여자', '74세여자', '75세여자', '76세여자', '77세여자', '78세여자', '79세여자', '80세여자', '81세여자', '82세여자', '83세여자', '84세여자', '85세여자', '86세여자', '87세여자', '88세여자', '89세여자', '90세여자', '91세여자', '92세여자', '93세여자', '94세여자', '95세여자', '96세여자', '97세여자', '98세여자', '99세여자', '100세여자', '101세여자', '102세여자', '103세여자', '104세여자', '105세여자', '106세여자', '107세여자', '108세여자', '109세여자', '110세여자',

In [16]:
data['10세이하남자'] = data[[f"{age}세남자" for age in range(1, 11)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\64682101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['10세이하남자'] = data[[f"{age}세남자" for age in range(1, 11)]].sum(axis=1)

In [17]:
data['10대남자'] = data[[f"{age}세남자" for age in range(10, 20)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1049884756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['10대남자'] = data[[f"{age}세남자" for age in range(10, 20)]].sum(axis=1)

In [18]:
data['20대남자'] = data[[f"{age}세남자" for age in range(20, 30)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\154094490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['20대남자'] = data[[f"{age}세남자" for age in range(20, 30)]].sum(axis=1)

In [19]:
data['30대남자'] = data[[f"{age}세남자" for age in range(30, 40)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\600343920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['30대남자'] = data[[f"{age}세남자" for age in range(30, 40)]].sum(axis=1)

In [20]:
data['40대남자'] = data[[f"{age}세남자" for age in range(40, 50)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1018439886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['40대남자'] = data[[f"{age}세남자" for age in range(40, 50)]].sum(axis=1)

In [21]:
data['50대남자'] = data[[f"{age}세남자" for age in range(50, 60)]].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1937120884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['50대남자'] = data[[f"{age}세남자" for age in range(50, 60)]].sum(axis=1)

In [24]:
data['60대이상남자'] = data[[f"{age}세남자" for age in range(60, 110)] + ['110세이상 남자']].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1305130347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['60대이상남자'] = data[[f"{age}세남자" for age in range(60, 110)] + ['110세이상 남자']].sum(axis=1)

In [25]:
data

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,0세남자,1세남자,...,108세여자,109세여자,110세이상 여자,10세이하남자,10대남자,20대남자,30대남자,40대남자,50대남자,60대이상남자
1200,4111156000,2024-09-30,경기도,수원시 장안구,파장동,24855,12547,12308,70,60,...,1,1,0,716,918,1638,1890,1853,2343,3193
1201,4111156600,2024-09-30,경기도,수원시 장안구,율천동,40038,21219,18819,97,82,...,0,0,0,1112,1812,5745,3059,2685,3255,3622
1202,4111157100,2024-09-30,경기도,수원시 장안구,정자1동,33382,16341,17041,81,83,...,0,0,0,1291,1864,2157,2340,2663,2988,3116
1203,4111157200,2024-09-30,경기도,수원시 장안구,정자2동,38503,18857,19646,105,111,...,0,0,0,1561,2009,2452,2784,3192,3314,3649
1204,4111157300,2024-09-30,경기도,수원시 장안구,정자3동,39054,19531,19523,64,81,...,0,0,0,1323,2968,3039,2221,3026,4006,3112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09-30,경기도,양평군,청운면,3748,1938,1810,2,1,...,0,0,0,44,73,106,118,168,353,1081
1799,4183038000,2024-09-30,경기도,양평군,양동면,4518,2286,2232,2,4,...,0,0,0,64,101,145,137,186,373,1286
1800,4183039500,2024-09-30,경기도,양평군,지평면,6688,3411,3277,3,12,...,0,0,0,101,183,203,200,304,557,1870
1801,4183040000,2024-09-30,경기도,양평군,용문면,18720,9414,9306,21,39,...,0,0,1,534,940,862,871,1147,1581,3549
1802,4183041000,2024-09-30,경기도,양평군,개군면,5100,2606,2494,3,5,...,0,0,0,82,143,186,163,293,460,1284

In [26]:
data['10세이하여자'] = data[[f"{age}세여자" for age in range(1, 11)]].sum(axis=1)
data['10대여자'] = data[[f"{age}세여자" for age in range(10, 20)]].sum(axis=1)
data['20대여자'] = data[[f"{age}세여자" for age in range(20, 30)]].sum(axis=1)
data['30대여자'] = data[[f"{age}세여자" for age in range(30, 40)]].sum(axis=1)
data['40대여자'] = data[[f"{age}세여자" for age in range(40, 50)]].sum(axis=1)
data['50대여자'] = data[[f"{age}세여자" for age in range(50, 60)]].sum(axis=1)
data['60대이상여자'] = data[[f"{age}세여자" for age in range(60, 110)] + ['110세이상 여자']].sum(axis=1)

C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['10세이하여자'] = data[[f"{age}세여자" for age in range(1, 11)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['10대여자'] = data[[f"{age}세여자" for age in range(10, 20)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['20대여자'] = data[[f"{age}세여자" for age in range(20, 30)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['30대여자'] = data[[f"{age}세여자" for age in range(30, 40)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['40대여자'] = data[[f"{age}세여자" for age in range(40, 50)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['50대여자'] = data[[f"{age}세여자" for age in range(50, 60)]].sum(axis=1)
C:\Users\5-04\AppData\Local\Temp\ipykernel_17948\1232857096.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['60대이상여자'] = data[[f"{age}세여자" for age in range(60, 110)] + ['110세이상 여자']].sum(axis=1)

In [27]:
data

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,0세남자,1세남자,...,40대남자,50대남자,60대이상남자,10세이하여자,10대여자,20대여자,30대여자,40대여자,50대여자,60대이상여자
1200,4111156000,2024-09-30,경기도,수원시 장안구,파장동,24855,12547,12308,70,60,...,1853,2343,3193,730,904,1315,1597,1699,2274,3804
1201,4111156600,2024-09-30,경기도,수원시 장안구,율천동,40038,21219,18819,97,82,...,2685,3255,3622,1098,1661,3676,2309,2653,3405,4091
1202,4111157100,2024-09-30,경기도,수원시 장안구,정자1동,33382,16341,17041,81,83,...,2663,2988,3116,1297,1690,1942,2287,2775,3190,3923
1203,4111157200,2024-09-30,경기도,수원시 장안구,정자2동,38503,18857,19646,105,111,...,3192,3314,3649,1518,1974,2406,2618,3293,3370,4551
1204,4111157300,2024-09-30,경기도,수원시 장안구,정자3동,39054,19531,19523,64,81,...,3026,4006,3112,1158,2732,2765,2074,3603,3996,3312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09-30,경기도,양평군,청운면,3748,1938,1810,2,1,...,168,353,1081,33,61,70,69,128,284,1171
1799,4183038000,2024-09-30,경기도,양평군,양동면,4518,2286,2232,2,4,...,186,373,1286,37,93,85,115,156,371,1375
1800,4183039500,2024-09-30,경기도,양평군,지평면,6688,3411,3277,3,12,...,304,557,1870,82,119,176,165,249,530,1962
1801,4183040000,2024-09-30,경기도,양평군,용문면,18720,9414,9306,21,39,...,1147,1581,3549,511,827,650,750,1153,1503,3923
1802,4183041000,2024-09-30,경기도,양평군,개군면,5100,2606,2494,3,5,...,293,460,1284,91,153,123,150,245,377,1363

In [28]:
data.columns

Index(['행정기관코드', '기준연월', '시도명', '시군구명', '읍면동명', '계', '남자', '여자', '0세남자',
       '1세남자',
       ...
       '40대남자', '50대남자', '60대이상남자', '10세이하여자', '10대여자', '20대여자', '30대여자',
       '40대여자', '50대여자', '60대이상여자'],
      dtype='object', length=244)

In [29]:
# 전체 컬럼 이름을 리스트로 출력
print(data.columns.tolist())

['행정기관코드', '기준연월', '시도명', '시군구명', '읍면동명', '계', '남자', '여자', '0세남자', '1세남자', '2세남자', '3세남자', '4세남자', '5세남자', '6세남자', '7세남자', '8세남자', '9세남자', '10세남자', '11세남자', '12세남자', '13세남자', '14세남자', '15세남자', '16세남자', '17세남자', '18세남자', '19세남자', '20세남자', '21세남자', '22세남자', '23세남자', '24세남자', '25세남자', '26세남자', '27세남자', '28세남자', '29세남자', '30세남자', '31세남자', '32세남자', '33세남자', '34세남자', '35세남자', '36세남자', '37세남자', '38세남자', '39세남자', '40세남자', '41세남자', '42세남자', '43세남자', '44세남자', '45세남자', '46세남자', '47세남자', '48세남자', '49세남자', '50세남자', '51세남자', '52세남자', '53세남자', '54세남자', '55세남자', '56세남자', '57세남자', '58세남자', '59세남자', '60세남자', '61세남자', '62세남자', '63세남자', '64세남자', '65세남자', '66세남자', '67세남자', '68세남자', '69세남자', '70세남자', '71세남자', '72세남자', '73세남자', '74세남자', '75세남자', '76세남자', '77세남자', '78세남자', '79세남자', '80세남자', '81세남자', '82세남자', '83세남자', '84세남자', '85세남자', '86세남자', '87세남자', '88세남자', '89세남자', '90세남자', '91세남자', '92세남자', '93세남자', '94세남자', '95세남자', '96세남자', '97세남자', '98세남자', '99세남자', '100세남자', '101세남자', '102세남자', '103세남자', '104세남자', '105세남자', '106세남자', '107세남자', '108세남자', '109세남자', '110세이상 남자', '0세여자', '1세여자', '2세여자', '3세여자', '4세여자', '5세여자', '6세여자', '7세여자', '8세여자', '9세여자', '10세여자', '11세여자', '12세여자', '13세여자', '14세여자', '15세여자', '16세여자', '17세여자', '18세여자', '19세여자', '20세여자', '21세여자', '22세여자', '23세여자', '24세여자', '25세여자', '26세여자', '27세여자', '28세여자', '29세여자', '30세여자', '31세여자', '32세여자', '33세여자', '34세여자', '35세여자', '36세여자', '37세여자', '38세여자', '39세여자', '40세여자', '41세여자', '42세여자', '43세여자', '44세여자', '45세여자', '46세여자', '47세여자', '48세여자', '49세여자', '50세여자', '51세여자', '52세여자', '53세여자', '54세여자', '55세여자', '56세여자', '57세여자', '58세여자', '59세여자', '60세여자', '61세여자', '62세여자', '63세여자', '64세여자', '65세여자', '66세여자', '67세여자', '68세여자', '69세여자', '70세여자', '71세여자', '72세여자', '73세여자', '74세여자', '75세여자', '76세여자', '77세여자', '78세여자', '79세여자', '80세여자', '81세여자', '82세여자', '83세여자', '84세여자', '85세여자', '86세여자', '87세여자', '88세여자', '89세여자', '90세여자', '91세여자', '92세여자', '93세여자', '94세여자', '95세여자', '96세여자', '97세여자', '98세여자', '99세여자', '100세여자', '101세여자', '102세여자', '103세여자', '104세여자', '105세여자', '106세여자', '107세여자', '108세여자', '109세여자', '110세이상 여자', '10세이하남자', '10대남자', '20대남자', '30대남자', '40대남자', '50대남자', '60대이상남자', '10세이하여자', '10대여자', '20대여자', '30대여자', '40대여자', '50대여자', '60대이상여자']

In [30]:
data = data.drop(['0세남자', '1세남자', '2세남자', '3세남자', '4세남자', '5세남자', '6세남자', '7세남자', '8세남자', '9세남자', '10세남자', '11세남자', '12세남자', '13세남자', '14세남자', '15세남자', '16세남자', '17세남자', '18세남자', '19세남자', '20세남자', '21세남자', '22세남자', '23세남자', '24세남자', '25세남자', '26세남자', '27세남자', '28세남자', '29세남자', '30세남자', '31세남자', '32세남자', '33세남자', '34세남자', '35세남자', '36세남자', '37세남자', '38세남자', '39세남자', '40세남자', '41세남자', '42세남자', '43세남자', '44세남자', '45세남자', '46세남자', '47세남자', '48세남자', '49세남자', '50세남자', '51세남자', '52세남자', '53세남자', '54세남자', '55세남자', '56세남자', '57세남자', '58세남자', '59세남자', '60세남자', '61세남자', '62세남자', '63세남자', '64세남자', '65세남자', '66세남자', '67세남자', '68세남자', '69세남자', '70세남자', '71세남자', '72세남자', '73세남자', '74세남자', '75세남자', '76세남자', '77세남자', '78세남자', '79세남자', '80세남자', '81세남자', '82세남자', '83세남자', '84세남자', '85세남자', '86세남자', '87세남자', '88세남자', '89세남자', '90세남자', '91세남자', '92세남자', '93세남자', '94세남자', '95세남자', '96세남자', '97세남자', '98세남자', '99세남자', '100세남자', '101세남자', '102세남자', '103세남자', '104세남자', '105세남자', '106세남자', '107세남자', '108세남자', '109세남자', '110세이상 남자', '0세여자', '1세여자', '2세여자', '3세여자', '4세여자', '5세여자', '6세여자', '7세여자', '8세여자', '9세여자', '10세여자', '11세여자', '12세여자', '13세여자', '14세여자', '15세여자', '16세여자', '17세여자', '18세여자', '19세여자', '20세여자', '21세여자', '22세여자', '23세여자', '24세여자', '25세여자', '26세여자', '27세여자', '28세여자', '29세여자', '30세여자', '31세여자', '32세여자', '33세여자', '34세여자', '35세여자', '36세여자', '37세여자', '38세여자', '39세여자', '40세여자', '41세여자', '42세여자', '43세여자', '44세여자', '45세여자', '46세여자', '47세여자', '48세여자', '49세여자', '50세여자', '51세여자', '52세여자', '53세여자', '54세여자', '55세여자', '56세여자', '57세여자', '58세여자', '59세여자', '60세여자', '61세여자', '62세여자', '63세여자', '64세여자', '65세여자', '66세여자', '67세여자', '68세여자', '69세여자', '70세여자', '71세여자', '72세여자', '73세여자', '74세여자', '75세여자', '76세여자', '77세여자', '78세여자', '79세여자', '80세여자', '81세여자', '82세여자', '83세여자', '84세여자', '85세여자', '86세여자', '87세여자', '88세여자', '89세여자', '90세여자', '91세여자', '92세여자', '93세여자', '94세여자', '95세여자', '96세여자', '97세여자', '98세여자', '99세여자', '100세여자', '101세여자', '102세여자', '103세여자', '104세여자', '105세여자', '106세여자', '107세여자', '108세여자', '109세여자', '110세이상 여자'], axis=1)

In [31]:
data

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,10세이하남자,10대남자,...,40대남자,50대남자,60대이상남자,10세이하여자,10대여자,20대여자,30대여자,40대여자,50대여자,60대이상여자
1200,4111156000,2024-09-30,경기도,수원시 장안구,파장동,24855,12547,12308,716,918,...,1853,2343,3193,730,904,1315,1597,1699,2274,3804
1201,4111156600,2024-09-30,경기도,수원시 장안구,율천동,40038,21219,18819,1112,1812,...,2685,3255,3622,1098,1661,3676,2309,2653,3405,4091
1202,4111157100,2024-09-30,경기도,수원시 장안구,정자1동,33382,16341,17041,1291,1864,...,2663,2988,3116,1297,1690,1942,2287,2775,3190,3923
1203,4111157200,2024-09-30,경기도,수원시 장안구,정자2동,38503,18857,19646,1561,2009,...,3192,3314,3649,1518,1974,2406,2618,3293,3370,4551
1204,4111157300,2024-09-30,경기도,수원시 장안구,정자3동,39054,19531,19523,1323,2968,...,3026,4006,3112,1158,2732,2765,2074,3603,3996,3312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09-30,경기도,양평군,청운면,3748,1938,1810,44,73,...,168,353,1081,33,61,70,69,128,284,1171
1799,4183038000,2024-09-30,경기도,양평군,양동면,4518,2286,2232,64,101,...,186,373,1286,37,93,85,115,156,371,1375
1800,4183039500,2024-09-30,경기도,양평군,지평면,6688,3411,3277,101,183,...,304,557,1870,82,119,176,165,249,530,1962
1801,4183040000,2024-09-30,경기도,양평군,용문면,18720,9414,9306,534,940,...,1147,1581,3549,511,827,650,750,1153,1503,3923
1802,4183041000,2024-09-30,경기도,양평군,개군면,5100,2606,2494,82,143,...,293,460,1284,91,153,123,150,245,377,1363

In [32]:
data = data.drop(['시도명'], axis=1)

In [35]:
data['기준연월'] = pd.to_datetime(data['기준연월'], format='%Y-%m-%d').dt.to_period('M')

In [36]:
data['통합주소'] = data['시군구명'] + " " + data['읍면동명']
data

,행정기관코드,기준연월,시군구명,읍면동명,계,남자,여자,10세이하남자,10대남자,20대남자,...,50대남자,60대이상남자,10세이하여자,10대여자,20대여자,30대여자,40대여자,50대여자,60대이상여자,통합주소
1200,4111156000,2024-09,수원시 장안구,파장동,24855,12547,12308,716,918,1638,...,2343,3193,730,904,1315,1597,1699,2274,3804,수원시 장안구 파장동
1201,4111156600,2024-09,수원시 장안구,율천동,40038,21219,18819,1112,1812,5745,...,3255,3622,1098,1661,3676,2309,2653,3405,4091,수원시 장안구 율천동
1202,4111157100,2024-09,수원시 장안구,정자1동,33382,16341,17041,1291,1864,2157,...,2988,3116,1297,1690,1942,2287,2775,3190,3923,수원시 장안구 정자1동
1203,4111157200,2024-09,수원시 장안구,정자2동,38503,18857,19646,1561,2009,2452,...,3314,3649,1518,1974,2406,2618,3293,3370,4551,수원시 장안구 정자2동
1204,4111157300,2024-09,수원시 장안구,정자3동,39054,19531,19523,1323,2968,3039,...,4006,3112,1158,2732,2765,2074,3603,3996,3312,수원시 장안구 정자3동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09,양평군,청운면,3748,1938,1810,44,73,106,...,353,1081,33,61,70,69,128,284,1171,양평군 청운면
1799,4183038000,2024-09,양평군,양동면,4518,2286,2232,64,101,145,...,373,1286,37,93,85,115,156,371,1375,양평군 양동면
1800,4183039500,2024-09,양평군,지평면,6688,3411,3277,101,183,203,...,557,1870,82,119,176,165,249,530,1962,양평군 지평면
1801,4183040000,2024-09,양평군,용문면,18720,9414,9306,534,940,862,...,1581,3549,511,827,650,750,1153,1503,3923,양평군 용문면
1802,4183041000,2024-09,양평군,개군면,5100,2606,2494,82,143,186,...,460,1284,91,153,123,150,245,377,1363,양평군 개군면

In [37]:
data.columns

Index(['행정기관코드', '기준연월', '시군구명', '읍면동명', '계', '남자', '여자', '10세이하남자', '10대남자',
       '20대남자', '30대남자', '40대남자', '50대남자', '60대이상남자', '10세이하여자', '10대여자',
       '20대여자', '30대여자', '40대여자', '50대여자', '60대이상여자', '통합주소'],
      dtype='object')

In [39]:
data = data[['행정기관코드', '기준연월', '시군구명', '읍면동명', '통합주소', '계', '남자', '여자', '10세이하남자', '10대남자',
             '20대남자', '30대남자', '40대남자', '50대남자', '60대이상남자', '10세이하여자', '10대여자',
             '20대여자', '30대여자', '40대여자', '50대여자', '60대이상여자']]

In [40]:
data

,행정기관코드,기준연월,시군구명,읍면동명,통합주소,계,남자,여자,10세이하남자,10대남자,...,40대남자,50대남자,60대이상남자,10세이하여자,10대여자,20대여자,30대여자,40대여자,50대여자,60대이상여자
1200,4111156000,2024-09,수원시 장안구,파장동,수원시 장안구 파장동,24855,12547,12308,716,918,...,1853,2343,3193,730,904,1315,1597,1699,2274,3804
1201,4111156600,2024-09,수원시 장안구,율천동,수원시 장안구 율천동,40038,21219,18819,1112,1812,...,2685,3255,3622,1098,1661,3676,2309,2653,3405,4091
1202,4111157100,2024-09,수원시 장안구,정자1동,수원시 장안구 정자1동,33382,16341,17041,1291,1864,...,2663,2988,3116,1297,1690,1942,2287,2775,3190,3923
1203,4111157200,2024-09,수원시 장안구,정자2동,수원시 장안구 정자2동,38503,18857,19646,1561,2009,...,3192,3314,3649,1518,1974,2406,2618,3293,3370,4551
1204,4111157300,2024-09,수원시 장안구,정자3동,수원시 장안구 정자3동,39054,19531,19523,1323,2968,...,3026,4006,3112,1158,2732,2765,2074,3603,3996,3312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,4183037000,2024-09,양평군,청운면,양평군 청운면,3748,1938,1810,44,73,...,168,353,1081,33,61,70,69,128,284,1171
1799,4183038000,2024-09,양평군,양동면,양평군 양동면,4518,2286,2232,64,101,...,186,373,1286,37,93,85,115,156,371,1375
1800,4183039500,2024-09,양평군,지평면,양평군 지평면,6688,3411,3277,101,183,...,304,557,1870,82,119,176,165,249,530,1962
1801,4183040000,2024-09,양평군,용문면,양평군 용문면,18720,9414,9306,534,940,...,1147,1581,3549,511,827,650,750,1153,1503,3923
1802,4183041000,2024-09,양평군,개군면,양평군 개군면,5100,2606,2494,82,143,...,293,460,1284,91,153,123,150,245,377,1363

In [42]:
df = pd.DataFrame(data)

In [43]:
# 저장할 경로 수정
output_dir = "C:/fintech_service/Project/data/전처리"
output_file = "성별_연령별_주민등록_인구수_전처리.csv"

# 폴더가 존재하지 않으면 생성
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# 데이터프레임을 CSV 파일로 저장
df.to_csv(os.path.join(output_dir, output_file), index=False, encoding="utf-8-sig")