https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=15SV0VWIWR56C5KFM5G536565870&infSeq=2&order=

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
data = pd.read_csv('./data/분석시스템_카드매출_행정동_연령.csv')

In [4]:
data

,etl_ym,admi_cd,admi_nm,cty_cd,cty_nm,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,...,card_age_f60_up_amt_ratio_cls,card_age_tot_amt_ratio_cls,card_age_m_tot_amt,card_age_f_tot_amt,card_age_m_tot_amt_cls,card_age_f_tot_amt_cls,card_age_m_tot_amt_ratio,card_age_f_tot_amt_ratio,card_age_m_tot_amt_ratio_cls,card_age_f_tot_amt_ratio_cls
0,201801,41111560,파장동,4111,수원시,A0,숙박업,15875.82,212338.62,393918.03,...,NaN,NaN,1.275024e+06,5.193367e+05,3,3,NaN,NaN,NaN,NaN
1,201801,41111560,파장동,4111,수원시,A1,여행업,0.00,66281.40,12700.65,...,NaN,NaN,5.470201e+05,7.382236e+04,3,3,NaN,NaN,NaN,NaN
2,201801,41111560,파장동,4111,수원시,B0,레져용품,0.00,0.00,52628.25,...,NaN,NaN,7.968058e+05,3.022919e+06,3,3,NaN,NaN,NaN,NaN
3,201801,41111560,파장동,4111,수원시,B2,레져/스포츠,0.00,277449.32,333034.40,...,NaN,NaN,1.423443e+06,7.144898e+05,3,3,NaN,NaN,NaN,NaN
4,201801,41111560,파장동,4111,수원시,B3,문화/취미,0.00,79626.95,245870.30,...,NaN,NaN,3.473640e+06,1.311195e+06,3,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157038,202312,41830370,청운면,4183,양평군,TOT,업종합계,38135.07,4670864.74,38038641.90,...,2.0,4.0,3.143583e+08,9.136728e+07,2,1,-0.044,-0.093,4.0,2.0
1157039,202312,41830380,양동면,4183,양평군,TOT,업종합계,220326.11,26714369.42,72182576.63,...,7.0,4.0,6.610334e+08,2.954457e+08,5,3,-0.051,-0.006,4.0,4.0
1157040,202312,41830395,지평면,4183,양평군,TOT,업종합계,7070.51,3622973.04,13787143.91,...,5.0,4.0,3.264953e+08,1.350144e+08,2,2,-0.033,-0.026,5.0,3.0
1157041,202312,41830400,용문면,4183,양평군,TOT,업종합계,651162.17,32921405.93,99771738.05,...,6.0,4.0,1.221502e+09,8.072515e+08,6,6,-0.099,0.020,3.0,5.0
1157042,202312,41830410,개군면,4183,양평군,TOT,업종합계,82949.25,4720868.92,19568083.54,...,4.0,3.0,3.064849e+08,1.267447e+08,2,2,-0.091,-0.011,3.0,4.0

In [5]:
data['buz_type_cd'].unique()

array(['A0', 'A1', 'B0', 'B2', 'B3', 'C0', 'C1', 'C2', 'C3', 'D0', 'D1',
       'D2', 'E1', 'F0', 'F1', 'F2', 'G0', 'G1', 'H0', 'H1', 'J0', 'K0',
       'L0', 'L1', 'M0', 'M1', 'N0', 'N1', 'O0', 'O1', 'X0', 'E0', 'E2',
       'K1', 'B1', 'E5', 'I0', 'E3', 'A2', 'E4', 'I1', 'TOT'],
      dtype=object)

In [6]:
data['buz_type_nm'].unique()

array(['숙박업', '여행업', '레져용품', '레져/스포츠', '문화/취미', '가구/가전/주방용품', '사무/통신기기',
       '보건/위생', '수리서비스', '연료판매', '자동차판매', '자동차정비/유지', '유통업일반', '의류', '직물',
       '신변잡화', '서적/인쇄', '문구/기자재', '학원', '교육기관', '의료기관', '미용', '일반음식',
       '주점', '유흥주점', '단란주점', '음식료품', '건강식품', '건축/자재', '농업', '기타', '유통업대형',
       '농축수산전문', '건강 ', '문화취미용품', '상품권', '보험', '유통업비영리', '대중교통', '유통업인터넷',
       '요금', '업종합계'], dtype=object)

'일반음식',
       '주점', '유흥주점'

이거 빼고 다 없애기

In [7]:
# # 밑에랑 똑같은 코드
# data = data[(data['buz_type_nm'] == '일반음식') | (data['buz_type_nm'] == '주점') | (data['buz_type_nm'] == '유흥주점')]

In [8]:
# 특정 값들로 필터링하기 (간단하게 표현)
data = data[data['buz_type_nm'].isin(['일반음식', '주점', '유흥주점'])]

In [9]:
data

,etl_ym,admi_cd,admi_nm,cty_cd,cty_nm,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,...,card_age_f60_up_amt_ratio_cls,card_age_tot_amt_ratio_cls,card_age_m_tot_amt,card_age_f_tot_amt,card_age_m_tot_amt_cls,card_age_f_tot_amt_cls,card_age_m_tot_amt_ratio,card_age_f_tot_amt_ratio,card_age_m_tot_amt_ratio_cls,card_age_f_tot_amt_ratio_cls
22,201801,41111560,파장동,4111,수원시,L0,일반음식,0.00,2465926.55,10704161.70,...,NaN,NaN,6.901704e+07,37019575.52,3,3,NaN,NaN,NaN,NaN
23,201801,41111560,파장동,4111,수원시,L1,주점,0.00,351132.71,1136230.07,...,NaN,NaN,6.331622e+06,1551719.54,3,3,NaN,NaN,NaN,NaN
24,201801,41111560,파장동,4111,수원시,M0,유흥주점,0.00,84340.14,68265.93,...,NaN,NaN,8.918226e+05,50405.63,3,3,NaN,NaN,NaN,NaN
55,201801,41111566,율천동,4111,수원시,L0,일반음식,23853.38,55397898.22,57403636.11,...,NaN,NaN,1.730718e+08,68111641.68,4,3,NaN,NaN,NaN,NaN
56,201801,41111566,율천동,4111,수원시,L1,주점,4623.81,11525552.99,10881136.68,...,NaN,NaN,3.264551e+07,13645565.96,4,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,202312,41830400,용문면,4183,양평군,L1,주점,0.00,969421.39,3186373.24,...,6.0,4.0,2.006658e+07,10503263.00,6,6,0.207,0.242,3.0,5.0
1157003,202312,41830400,용문면,4183,양평군,M0,유흥주점,0.00,182115.73,466345.98,...,6.0,4.0,2.156229e+07,997144.01,6,6,-0.251,-0.381,3.0,5.0
1157023,202312,41830410,개군면,4183,양평군,L0,일반음식,23317.19,1893162.72,6479289.09,...,4.0,3.0,7.700184e+07,39708393.77,2,2,0.119,0.300,3.0,4.0
1157024,202312,41830410,개군면,4183,양평군,L1,주점,0.00,92228.31,848610.46,...,4.0,3.0,3.582482e+06,2333580.51,2,2,0.246,0.107,3.0,4.0
1157025,202312,41830410,개군면,4183,양평군,M0,유흥주점,0.00,0.00,15043.48,...,4.0,3.0,3.597862e+06,49282.30,2,2,1.130,-0.961,3.0,4.0

In [10]:
data['card_age_tot_amt']

22         1.060366e+08
23         7.883341e+06
24         9.422281e+05
55         2.411834e+08
56         4.629108e+07
               ...
1157002    3.056984e+07
1157003    2.255944e+07
1157023    1.167102e+08
1157024    5.916063e+06
1157025    3.647145e+06
Name: card_age_tot_amt, Length: 92797, dtype: float64

In [11]:
data['card_age_tot_amt_ratio']

22           NaN
23           NaN
24           NaN
55           NaN
56           NaN
           ...
1157002    0.219
1157003   -0.258
1157023    0.175
1157024    0.187
1157025    0.239
Name: card_age_tot_amt_ratio, Length: 92797, dtype: float64

In [12]:
data.columns

Index(['etl_ym', 'admi_cd', 'admi_nm', 'cty_cd', 'cty_nm', 'buz_type_cd',
       'buz_type_nm', 'card_age_m10_19_amt', 'card_age_m20_29_amt',
       'card_age_m30_39_amt', 'card_age_m40_49_amt', 'card_age_m50_59_amt',
       'card_age_m60_up_amt', 'card_age_f10_19_amt', 'card_age_f20_29_amt',
       'card_age_f30_39_amt', 'card_age_f40_49_amt', 'card_age_f50_59_amt',
       'card_age_f60_up_amt', 'card_age_tot_amt', 'card_age_m10_19_amt_cls',
       'card_age_m20_29_amt_cls', 'card_age_m30_39_amt_cls',
       'card_age_m40_49_amt_cls', 'card_age_m50_59_amt_cls',
       'card_age_m60_up_amt_cls', 'card_age_f10_19_amt_cls',
       'card_age_f20_29_amt_cls', 'card_age_f30_39_amt_cls',
       'card_age_f40_49_amt_cls', 'card_age_f50_59_amt_cls',
       'card_age_f60_up_amt_cls', 'card_age_tot_amt_cls',
       'card_age_m10_19_amt_ratio', 'card_age_m20_29_amt_ratio',
       'card_age_m30_39_amt_ratio', 'card_age_m40_49_amt_ratio',
       'card_age_m50_59_amt_ratio', 'card_age_m60_up_amt_ratio',
       'card_age_f10_19_amt_ratio', 'card_age_f20_29_amt_ratio',
       'card_age_f30_39_amt_ratio', 'card_age_f40_49_amt_ratio',
       'card_age_f50_59_amt_ratio', 'card_age_f60_up_amt_ratio',
       'card_age_tot_amt_ratio', 'card_age_m10_19_amt_ratio_cls',
       'card_age_m20_29_amt_ratio_cls', 'card_age_m30_39_amt_ratio_cls',
       'card_age_m40_49_amt_ratio_cls', 'card_age_m50_59_amt_ratio_cls',
       'card_age_m60_up_amt_ratio_cls', 'card_age_f10_19_amt_ratio_cls',
       'card_age_f20_29_amt_ratio_cls', 'card_age_f30_39_amt_ratio_cls',
       'card_age_f40_49_amt_ratio_cls', 'card_age_f50_59_amt_ratio_cls',
       'card_age_f60_up_amt_ratio_cls', 'card_age_tot_amt_ratio_cls',
       'card_age_m_tot_amt', 'card_age_f_tot_amt', 'card_age_m_tot_amt_cls',
       'card_age_f_tot_amt_cls', 'card_age_m_tot_amt_ratio',
       'card_age_f_tot_amt_ratio', 'card_age_m_tot_amt_ratio_cls',
       'card_age_f_tot_amt_ratio_cls'],
      dtype='object')

In [13]:
data = data.drop(['card_age_m10_19_amt_cls',
       'card_age_m20_29_amt_cls', 'card_age_m30_39_amt_cls',
       'card_age_m40_49_amt_cls', 'card_age_m50_59_amt_cls',
       'card_age_m60_up_amt_cls', 'card_age_f10_19_amt_cls',
       'card_age_f20_29_amt_cls', 'card_age_f30_39_amt_cls',
       'card_age_f40_49_amt_cls', 'card_age_f50_59_amt_cls',
       'card_age_f60_up_amt_cls', 'card_age_tot_amt_cls',
       'card_age_m10_19_amt_ratio', 'card_age_m20_29_amt_ratio',
       'card_age_m30_39_amt_ratio', 'card_age_m40_49_amt_ratio',
       'card_age_m50_59_amt_ratio', 'card_age_m60_up_amt_ratio',
       'card_age_f10_19_amt_ratio', 'card_age_f20_29_amt_ratio',
       'card_age_f30_39_amt_ratio', 'card_age_f40_49_amt_ratio',
       'card_age_f50_59_amt_ratio', 'card_age_f60_up_amt_ratio',
       'card_age_tot_amt_ratio', 'card_age_m10_19_amt_ratio_cls',
       'card_age_m20_29_amt_ratio_cls', 'card_age_m30_39_amt_ratio_cls',
       'card_age_m40_49_amt_ratio_cls', 'card_age_m50_59_amt_ratio_cls',
       'card_age_m60_up_amt_ratio_cls', 'card_age_f10_19_amt_ratio_cls',
       'card_age_f20_29_amt_ratio_cls', 'card_age_f30_39_amt_ratio_cls',
       'card_age_f40_49_amt_ratio_cls', 'card_age_f50_59_amt_ratio_cls',
       'card_age_f60_up_amt_ratio_cls', 'card_age_tot_amt_ratio_cls','card_age_m_tot_amt_cls',
       'card_age_f_tot_amt_cls', 'card_age_m_tot_amt_ratio',
       'card_age_f_tot_amt_ratio', 'card_age_m_tot_amt_ratio_cls',
       'card_age_f_tot_amt_ratio_cls'], axis=1)

In [14]:
data

,etl_ym,admi_cd,admi_nm,cty_cd,cty_nm,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,201801,41111560,파장동,4111,수원시,L0,일반음식,0.00,2465926.55,10704161.70,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,201801,41111560,파장동,4111,수원시,L1,주점,0.00,351132.71,1136230.07,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,201801,41111560,파장동,4111,수원시,M0,유흥주점,0.00,84340.14,68265.93,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,201801,41111566,율천동,4111,수원시,L0,일반음식,23853.38,55397898.22,57403636.11,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,201801,41111566,율천동,4111,수원시,L1,주점,4623.81,11525552.99,10881136.68,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,202312,41830400,용문면,4183,양평군,L1,주점,0.00,969421.39,3186373.24,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,202312,41830400,용문면,4183,양평군,M0,유흥주점,0.00,182115.73,466345.98,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,202312,41830410,개군면,4183,양평군,L0,일반음식,23317.19,1893162.72,6479289.09,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,202312,41830410,개군면,4183,양평군,L1,주점,0.00,92228.31,848610.46,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,202312,41830410,개군면,4183,양평군,M0,유흥주점,0.00,0.00,15043.48,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

In [15]:
data['etl_ym'].dtype

dtype('int64')

In [16]:
data['etl_ym'] = pd.to_datetime(data['etl_ym'], format='%Y%m')

In [17]:
data['etl_ym'].dtype

dtype('<M8[ns]')

In [18]:
data['etl_ym'] = pd.to_datetime(data['etl_ym'], format='%Y%m').dt.to_period('M')

In [19]:
data

,etl_ym,admi_cd,admi_nm,cty_cd,cty_nm,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,2018-01,41111560,파장동,4111,수원시,L0,일반음식,0.00,2465926.55,10704161.70,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,2018-01,41111560,파장동,4111,수원시,L1,주점,0.00,351132.71,1136230.07,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,2018-01,41111560,파장동,4111,수원시,M0,유흥주점,0.00,84340.14,68265.93,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,2018-01,41111566,율천동,4111,수원시,L0,일반음식,23853.38,55397898.22,57403636.11,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,2018-01,41111566,율천동,4111,수원시,L1,주점,4623.81,11525552.99,10881136.68,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,2023-12,41830400,용문면,4183,양평군,L1,주점,0.00,969421.39,3186373.24,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,2023-12,41830400,용문면,4183,양평군,M0,유흥주점,0.00,182115.73,466345.98,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,2023-12,41830410,개군면,4183,양평군,L0,일반음식,23317.19,1893162.72,6479289.09,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,2023-12,41830410,개군면,4183,양평군,L1,주점,0.00,92228.31,848610.46,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,2023-12,41830410,개군면,4183,양평군,M0,유흥주점,0.00,0.00,15043.48,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

In [20]:
# admi_nm과 cty_nm이 문자열 형식인지 확인
data['cty_nm'] = data['cty_nm'].astype(str)
data['admi_nm'] = data['admi_nm'].astype(str)

# 두 컬럼을 결합하여 city 컬럼 생성
data['city'] = data['cty_nm'].str.strip() + " " + data['admi_nm'].str.strip()

In [21]:
data.columns

Index(['etl_ym', 'admi_cd', 'admi_nm', 'cty_cd', 'cty_nm', 'buz_type_cd',
       'buz_type_nm', 'card_age_m10_19_amt', 'card_age_m20_29_amt',
       'card_age_m30_39_amt', 'card_age_m40_49_amt', 'card_age_m50_59_amt',
       'card_age_m60_up_amt', 'card_age_f10_19_amt', 'card_age_f20_29_amt',
       'card_age_f30_39_amt', 'card_age_f40_49_amt', 'card_age_f50_59_amt',
       'card_age_f60_up_amt', 'card_age_tot_amt', 'card_age_m_tot_amt',
       'card_age_f_tot_amt', 'city'],
      dtype='object')

In [22]:
data = data[['etl_ym', 'admi_cd', 'admi_nm', 'cty_cd', 'cty_nm', 'city', 'buz_type_cd',
       'buz_type_nm', 'card_age_m10_19_amt', 'card_age_m20_29_amt',
       'card_age_m30_39_amt', 'card_age_m40_49_amt', 'card_age_m50_59_amt',
       'card_age_m60_up_amt', 'card_age_f10_19_amt', 'card_age_f20_29_amt',
       'card_age_f30_39_amt', 'card_age_f40_49_amt', 'card_age_f50_59_amt',
       'card_age_f60_up_amt', 'card_age_tot_amt', 'card_age_m_tot_amt',
       'card_age_f_tot_amt']]

In [23]:
data = data.drop(['admi_nm', 'cty_nm'], axis = 1)

In [24]:
data

,etl_ym,admi_cd,cty_cd,city,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,card_age_m40_49_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,2018-01,41111560,4111,수원시 파장동,L0,일반음식,0.00,2465926.55,10704161.70,16534415.79,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,2018-01,41111560,4111,수원시 파장동,L1,주점,0.00,351132.71,1136230.07,2172562.22,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,2018-01,41111560,4111,수원시 파장동,M0,유흥주점,0.00,84340.14,68265.93,554660.38,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,2018-01,41111566,4111,수원시 율천동,L0,일반음식,23853.38,55397898.22,57403636.11,26169059.21,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,2018-01,41111566,4111,수원시 율천동,L1,주점,4623.81,11525552.99,10881136.68,5030819.00,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,2023-12,41830400,4183,양평군 용문면,L1,주점,0.00,969421.39,3186373.24,3574446.60,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,2023-12,41830400,4183,양평군 용문면,M0,유흥주점,0.00,182115.73,466345.98,4586617.72,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,2023-12,41830410,4183,양평군 개군면,L0,일반음식,23317.19,1893162.72,6479289.09,14526721.27,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,2023-12,41830410,4183,양평군 개군면,L1,주점,0.00,92228.31,848610.46,896470.30,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,2023-12,41830410,4183,양평군 개군면,M0,유흥주점,0.00,0.00,15043.48,312120.89,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

- card_age_tot_amt : 카드연령총수량
- card_age_m_tot_amt : 카드연령남성총수량
- card_age_f_tot_amt : 카드연령여성총수량

In [25]:
data['city'].unique()

array(['수원시 파장동', '수원시 율천동', '수원시 정자1동', '수원시 정자2동', '수원시 정자3동',
       '수원시 영화동', '수원시 송죽동', '수원시 조원1동', '수원시 조원2동', '수원시 연무동',
       '수원시 세류1동', '수원시 세류2동', '수원시 세류3동', '수원시 평동', '수원시 서둔동', '수원시 구운동',
       '수원시 금곡동', '수원시 호매실동', '수원시 권선1동', '수원시 권선2동', '수원시 곡선동',
       '수원시 입북동', '수원시 매교동', '수원시 매산동', '수원시 고등동', '수원시 화서1동', '수원시 화서2동',
       '수원시 지동', '수원시 우만1동', '수원시 우만2동', '수원시 인계동', '수원시 행궁동', '수원시 매탄1동',
       '수원시 매탄2동', '수원시 매탄3동', '수원시 매탄4동', '수원시 원천동', '수원시 영통1동',
       '수원시 영통2동', '수원시 영통3동', '수원시 광교1동', '수원시 광교2동', '수원시 망포1동',
       '수원시 망포2동', '성남시 수진1동', '성남시 산성동', '성남시 신흥2동', '성남시 신흥3동',
       '성남시 태평1동', '성남시 태평2동', '성남시 태평3동', '성남시 신흥1동', '성남시 태평4동',
       '성남시 수진2동', '성남시 단대동', '성남시 양지동', '성남시 복정동', '성남시 위례동', '성남시 신촌동',
       '성남시 고등동', '성남시 시흥동', '성남시 성남동', '성남시 중앙동', '성남시 금광1동', '성남시 금광2동',
       '성남시 은행1동', '성남시 은행2동', '성남시 상대원1동', '성남시 상대원2동', '성남시 상대원3동',
       '성남시 하대원동', '성남시 도촌동', '성남시 분당동', '성남시 수내1동', '성남시 수내2동',
       '성남시 수내3동', '성남시 정자동', '성남시 정자1동', '성남시 정자2동', '성남시 정자3동',
       '성남시 서현1동', '성남시 서현2동', '성남시 이매1동', '성남시 이매2동', '성남시 야탑1동',
       '성남시 야탑2동', '성남시 야탑3동', '성남시 판교동', '성남시 삼평동', '성남시 백현동', '성남시 금곡동',
       '성남시 구미1동', '성남시 구미동', '성남시 운중동', '의정부시 의정부1동', '의정부시 의정부2동',
       '의정부시 호원1동', '의정부시 호원2동', '의정부시 장암동', '의정부시 신곡1동', '의정부시 신곡2동',
       '의정부시 송산1동', '의정부시 송산2동', '의정부시 자금동', '의정부시 가능동', '의정부시 흥선동',
       '의정부시 녹양동', '의정부시 송산3동', '안양시 안양2동', '안양시 안양3동', '안양시 안양1동',
       '안양시 안양4동', '안양시 안양5동', '안양시 안양6동', '안양시 안양7동', '안양시 안양8동',
       '안양시 안양9동', '안양시 석수1동', '안양시 석수2동', '안양시 석수3동', '안양시 박달1동',
       '안양시 박달2동', '안양시 비산1동', '안양시 비산2동', '안양시 비산3동', '안양시 부흥동',
       '안양시 달안동', '안양시 관양1동', '안양시 관양2동', '안양시 부림동', '안양시 평촌동', '안양시 평안동',
       '안양시 귀인동', '안양시 호계1동', '안양시 호계2동', '안양시 호계3동', '안양시 범계동',
       '안양시 신촌동', '안양시 갈산동', '부천시 중동', '부천시 소사본동', '부천시 범안동', '부천시 성곡동',
       '부천시 오정동', '부천시 심곡동', '부천시 부천동', '부천시 신중동', '부천시 상동', '부천시 대산동',
       '광명시 광명1동', '광명시 광명2동', '광명시 광명3동', '광명시 광명4동', '광명시 광명5동',
       '광명시 광명6동', '광명시 광명7동', '광명시 철산1동', '광명시 철산2동', '광명시 철산3동',
       '광명시 철산4동', '광명시 하안1동', '광명시 하안2동', '광명시 하안3동', '광명시 하안4동',
       '광명시 소하1동', '광명시 소하2동', '광명시 학온동', '평택시 팽성읍', '평택시 송북동', '평택시 안중읍',
       '평택시 포승읍', '평택시 청북읍', '평택시 진위면', '평택시 서탄면', '평택시 고덕면', '평택시 오성면',
       '평택시 현덕면', '평택시 중앙동', '평택시 서정동', '평택시 송탄동', '평택시 지산동', '평택시 신장1동',
       '평택시 신장2동', '평택시 신평동', '평택시 원평동', '평택시 통복동', '평택시 비전1동',
       '평택시 비전2동', '평택시 용이동', '평택시 세교동', '동두천시 소요동', '동두천시 생연2동',
       '동두천시 생연1동', '동두천시 중앙동', '동두천시 보산동', '동두천시 불현동', '동두천시 송내동',
       '동두천시 상패동', '안산시 일동', '안산시 이동', '안산시 사동', '안산시 사이동', '안산시 해양동',
       '안산시 본오1동', '안산시 본오2동', '안산시 본오3동', '안산시 부곡동', '안산시 월피동',
       '안산시 성포동', '안산시 반월동', '안산시 안산동', '안산시 와동', '안산시 고잔동', '안산시 중앙동',
       '안산시 호수동', '안산시 원곡동', '안산시 백운동', '안산시 신길동', '안산시 초지동', '안산시 선부1동',
       '안산시 선부2동', '안산시 선부3동', '안산시 대부동', '고양시 주교동', '고양시 주엽1동',
       '고양시 대화동', '고양시 원신동', '고양시 효자동', '고양시 흥도동', '고양시 성사1동', '고양시 성사2동',
       '고양시 화정2동', '고양시 삼송동', '고양시 창릉동', '고양시 고양동', '고양시 관산동', '고양시 능곡동',
       '고양시 화정1동', '고양시 행주동', '고양시 행신1동', '고양시 행신2동', '고양시 행신3동',
       '고양시 화전동', '고양시 대덕동', '고양시 식사동', '고양시 중산동', '고양시 정발산동', '고양시 풍산동',
       '고양시 백석1동', '고양시 백석2동', '고양시 마두1동', '고양시 마두2동', '고양시 장항1동',
       '고양시 장항2동', '고양시 고봉동', '고양시 일산1동', '고양시 일산2동', '고양시 일산3동',
       '고양시 탄현동', '고양시 주엽2동', '고양시 송포동', '고양시 송산동', '과천시 중앙동', '과천시 갈현동',
       '과천시 부림동', '과천시 별양동', '과천시 과천동', '과천시 문원동', '구리시 갈매동', '구리시 동구동',
       '구리시 인창동', '구리시 교문1동', '구리시 교문2동', '구리시 수택1동', '구리시 수택2동',
       '구리시 수택3동', '남양주시 진건읍', '남양주시 와부읍', '남양주시 진접읍', '남양주시 화도읍',
       '남양주시 오남읍', '남양주시 별내면', '남양주시 수동면', '남양주시 조안면', '남양주시 호평동',
       '남양주시 평내동', '남양주시 금곡동', '남양주시 양정동', '남양주시 다산1동', '남양주시 다산2동',
       '남양주시 별내동', '남양주시 퇴계원읍', '오산시 중앙동', '오산시 남촌동', '오산시 신장동',
       '오산시 세마동', '오산시 초평동', '오산시 대원동', '시흥시 대야동', '시흥시 신천동', '시흥시 신현동',
       '시흥시 은행동', '시흥시 매화동', '시흥시 목감동', '시흥시 군자동', '시흥시 월곶동', '시흥시 정왕본동',
       '시흥시 정왕1동', '시흥시 정왕2동', '시흥시 정왕3동', '시흥시 정왕4동', '시흥시 배곧동',
       '시흥시 과림동', '시흥시 연성동', '시흥시 장곡동', '시흥시 능곡동', '군포시 대야동', '군포시 군포1동',
       '군포시 군포2동', '군포시 산본1동', '군포시 산본2동', '군포시 금정동', '군포시 재궁동',
       '군포시 오금동', '군포시 수리동', '군포시 궁내동', '군포시 광정동', '의왕시 고천동', '의왕시 부곡동',
       '의왕시 오전동', '의왕시 내손1동', '의왕시 내손2동', '의왕시 청계동', '하남시 미사1동',
       '하남시 천현동', '하남시 신장1동', '하남시 신장2동', '하남시 덕풍1동', '하남시 덕풍2동',
       '하남시 덕풍3동', '하남시 풍산동', '하남시 감북동', '하남시 감일동', '하남시 위례동', '하남시 춘궁동',
       '하남시 초이동', '하남시 미사2동', '용인시 포곡읍', '용인시 모현읍', '용인시 이동읍', '용인시 남사면',
       '용인시 원삼면', '용인시 백암면', '용인시 양지면', '용인시 중앙동', '용인시 역삼동', '용인시 유림동',
       '용인시 동부동', '용인시 신갈동', '용인시 구갈동', '용인시 상갈동', '용인시 기흥동', '용인시 서농동',
       '용인시 구성동', '용인시 마북동', '용인시 상하동', '용인시 보정동', '용인시 풍덕천1동',
       '용인시 풍덕천2동', '용인시 신봉동', '용인시 죽전1동', '용인시 죽전2동', '용인시 동천동',
       '용인시 상현1동', '용인시 상현2동', '용인시 성복동', '용인시 영덕1동', '용인시 영덕2동',
       '용인시 보라동', '용인시 동백1동', '용인시 동백2동', '용인시 동백3동', '파주시 파주읍',
       '이천시 대월면', '파주시 법원읍', '파주시 월롱면', '파주시 조리읍', '파주시 문산읍', '파주시 탄현면',
       '파주시 광탄면', '파주시 파평면', '파주시 적성면', '파주시 군내면', '파주시 금촌1동', '파주시 금촌2동',
       '파주시 금촌3동', '파주시 교하동', '파주시 운정1동', '파주시 운정2동', '파주시 운정3동',
       '이천시 장호원읍', '이천시 부발읍', '이천시 신둔면', '이천시 백사면', '이천시 호법면', '이천시 마장면',
       '이천시 모가면', '이천시 설성면', '이천시 율면', '이천시 창전동', '이천시 증포동', '이천시 중리동',
       '이천시 관고동', '안성시 죽산면', '안성시 금광면', '안성시 양성면', '안성시 서운면', '안성시 공도읍',
       '안성시 보개면', '안성시 미양면', '안성시 대덕면', '안성시 원곡면', '안성시 일죽면', '안성시 삼죽면',
       '안성시 고삼면', '안성시 안성1동', '안성시 안성2동', '안성시 안성3동', '김포시 고촌읍',
       '김포시 통진읍', '김포시 양촌읍', '김포시 대곶면', '김포시 월곶면', '김포시 하성면', '김포시 김포본동',
       '김포시 장기본동', '김포시 사우동', '김포시 풍무동', '김포시 장기동', '김포시 구래동', '김포시 운양동',
       '김포시 마산동', '화성시 봉담읍', '화성시 우정읍', '화성시 향남읍', '화성시 남양읍', '화성시 매송면',
       '화성시 비봉면', '화성시 마도면', '화성시 송산면', '화성시 서신면', '화성시 팔탄면', '화성시 장안면',
       '화성시 양감면', '화성시 정남면', '화성시 진안동', '화성시 병점1동', '화성시 병점2동', '화성시 반월동',
       '화성시 기배동', '화성시 화산동', '화성시 동탄1동', '화성시 동탄2동', '화성시 동탄3동',
       '화성시 동탄4동', '화성시 동탄5동', '화성시 동탄6동', '화성시 동탄7동', '화성시 동탄8동',
       '포천시 가산면', '광주시 오포읍', '광주시 곤지암읍', '여주시 능서면', '광주시 초월읍', '연천군 백학면',
       '연천군 중면', '광주시 도척면', '광주시 퇴촌면', '광주시 남종면', '광주시 남한산성면', '광주시 경안동',
       '광주시 송정동', '광주시 광남동', '양주시 백석읍', '양주시 은현면', '양주시 남면', '양주시 광적면',
       '양주시 장흥면', '양주시 양주1동', '양주시 양주2동', '양주시 회천1동', '양주시 회천2동',
       '양주시 회천3동', '양주시 회천4동', '포천시 창수면', '포천시 군내면', '포천시 소흘읍', '포천시 내촌면',
       '포천시 신북면', '포천시 영중면', '포천시 일동면', '포천시 이동면', '포천시 영북면', '포천시 관인면',
       '포천시 화현면', '포천시 포천동', '포천시 선단동', '여주시 산북면', '여주시 점동면', '여주시 여흥동',
       '여주시 흥천면', '여주시 가남읍', '여주시 금사면', '여주시 대신면', '여주시 북내면', '여주시 강천면',
       '여주시 중앙동', '여주시 오학동', '연천군 연천읍', '연천군 미산면', '연천군 왕징면', '연천군 전곡읍',
       '연천군 군남면', '연천군 청산면', '연천군 신서면', '연천군 장남면', '가평군 설악면', '가평군 가평읍',
       '가평군 청평면', '가평군 상면', '가평군 조종면', '가평군 북면', '양평군 양평읍', '양평군 강상면',
       '양평군 강하면', '양평군 양서면', '양평군 옥천면', '양평군 서종면', '양평군 단월면', '양평군 청운면',
       '양평군 양동면', '양평군 지평면', '양평군 용문면', '양평군 개군면'], dtype=object)

In [26]:
data['buz_type_nm'].unique()

array(['일반음식', '주점', '유흥주점'], dtype=object)

In [27]:
data['buz_type_nm'].nunique()

3

In [28]:
data['buz_type_cd'].unique()

array(['L0', 'L1', 'M0'], dtype=object)

In [29]:
data

,etl_ym,admi_cd,cty_cd,city,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,card_age_m40_49_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,2018-01,41111560,4111,수원시 파장동,L0,일반음식,0.00,2465926.55,10704161.70,16534415.79,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,2018-01,41111560,4111,수원시 파장동,L1,주점,0.00,351132.71,1136230.07,2172562.22,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,2018-01,41111560,4111,수원시 파장동,M0,유흥주점,0.00,84340.14,68265.93,554660.38,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,2018-01,41111566,4111,수원시 율천동,L0,일반음식,23853.38,55397898.22,57403636.11,26169059.21,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,2018-01,41111566,4111,수원시 율천동,L1,주점,4623.81,11525552.99,10881136.68,5030819.00,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,2023-12,41830400,4183,양평군 용문면,L1,주점,0.00,969421.39,3186373.24,3574446.60,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,2023-12,41830400,4183,양평군 용문면,M0,유흥주점,0.00,182115.73,466345.98,4586617.72,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,2023-12,41830410,4183,양평군 개군면,L0,일반음식,23317.19,1893162.72,6479289.09,14526721.27,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,2023-12,41830410,4183,양평군 개군면,L1,주점,0.00,92228.31,848610.46,896470.30,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,2023-12,41830410,4183,양평군 개군면,M0,유흥주점,0.00,0.00,15043.48,312120.89,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

In [30]:
data = data.rename(columns={'etl_ym': 'year_month'})

In [32]:
data

,year_month,admi_cd,cty_cd,city,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,card_age_m40_49_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,2018-01,41111560,4111,수원시 파장동,L0,일반음식,0.00,2465926.55,10704161.70,16534415.79,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,2018-01,41111560,4111,수원시 파장동,L1,주점,0.00,351132.71,1136230.07,2172562.22,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,2018-01,41111560,4111,수원시 파장동,M0,유흥주점,0.00,84340.14,68265.93,554660.38,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,2018-01,41111566,4111,수원시 율천동,L0,일반음식,23853.38,55397898.22,57403636.11,26169059.21,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,2018-01,41111566,4111,수원시 율천동,L1,주점,4623.81,11525552.99,10881136.68,5030819.00,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,2023-12,41830400,4183,양평군 용문면,L1,주점,0.00,969421.39,3186373.24,3574446.60,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,2023-12,41830400,4183,양평군 용문면,M0,유흥주점,0.00,182115.73,466345.98,4586617.72,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,2023-12,41830410,4183,양평군 개군면,L0,일반음식,23317.19,1893162.72,6479289.09,14526721.27,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,2023-12,41830410,4183,양평군 개군면,L1,주점,0.00,92228.31,848610.46,896470.30,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,2023-12,41830410,4183,양평군 개군면,M0,유흥주점,0.00,0.00,15043.48,312120.89,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

In [33]:
df = pd.DataFrame(data)

In [34]:
df

,year_month,admi_cd,cty_cd,city,buz_type_cd,buz_type_nm,card_age_m10_19_amt,card_age_m20_29_amt,card_age_m30_39_amt,card_age_m40_49_amt,...,card_age_m60_up_amt,card_age_f10_19_amt,card_age_f20_29_amt,card_age_f30_39_amt,card_age_f40_49_amt,card_age_f50_59_amt,card_age_f60_up_amt,card_age_tot_amt,card_age_m_tot_amt,card_age_f_tot_amt
22,2018-01,41111560,4111,수원시 파장동,L0,일반음식,0.00,2465926.55,10704161.70,16534415.79,...,17709958.58,1984.47,1825520.88,5777961.68,8423286.73,12295662.01,8695159.75,1.060366e+08,6.901704e+07,37019575.52
23,2018-01,41111560,4111,수원시 파장동,L1,주점,0.00,351132.71,1136230.07,2172562.22,...,675931.60,9287.35,241192.91,322834.17,423566.03,391040.61,163798.47,7.883341e+06,6.331622e+06,1551719.54
24,2018-01,41111560,4111,수원시 파장동,M0,유흥주점,0.00,84340.14,68265.93,554660.38,...,63503.15,0.00,18455.60,18852.52,5953.41,7144.10,0.00,9.422281e+05,8.918226e+05,50405.63
55,2018-01,41111566,4111,수원시 율천동,L0,일반음식,23853.38,55397898.22,57403636.11,26169059.21,...,10653363.02,77136.55,22687020.28,18320138.70,11217249.16,11431748.82,4378348.17,2.411834e+08,1.730718e+08,68111641.68
56,2018-01,41111566,4111,수원시 율천동,L1,주점,4623.81,11525552.99,10881136.68,5030819.00,...,1296942.58,6251.10,4680587.55,3467788.19,2644231.74,2253032.29,593675.09,4.629108e+07,3.264551e+07,13645565.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157002,2023-12,41830400,4183,양평군 용문면,L1,주점,0.00,969421.39,3186373.24,3574446.60,...,3891728.26,22189.02,1219967.47,1118543.52,3194820.06,2523972.50,2423770.49,3.056984e+07,2.006658e+07,10503263.00
1157003,2023-12,41830400,4183,양평군 용문면,M0,유흥주점,0.00,182115.73,466345.98,4586617.72,...,10887529.75,0.00,0.00,0.00,0.00,131419.35,865724.61,2.255944e+07,2.156229e+07,997144.01
1157023,2023-12,41830410,4183,양평군 개군면,L0,일반음식,23317.19,1893162.72,6479289.09,14526721.27,...,36558383.63,0.00,1281609.60,4598844.20,6790233.79,9866776.86,17170929.37,1.167102e+08,7.700184e+07,39708393.77
1157024,2023-12,41830410,4183,양평군 개군면,L1,주점,0.00,92228.31,848610.46,896470.30,...,1105359.09,0.00,177416.06,97165.24,333886.91,663230.61,1061881.69,5.916063e+06,3.582482e+06,2333580.51
1157025,2023-12,41830410,4183,양평군 개군면,M0,유흥주점,0.00,0.00,15043.48,312120.89,...,1389759.22,0.00,0.00,0.00,0.00,49282.30,0.00,3.647145e+06,3.597862e+06,49282.30

In [32]:
data.columns

Index(['year_month', 'admi_cd', 'cty_cd', 'city', 'buz_type_cd', 'buz_type_nm',
       'card_age_m10_19_amt', 'card_age_m20_29_amt', 'card_age_m30_39_amt',
       'card_age_m40_49_amt', 'card_age_m50_59_amt', 'card_age_m60_up_amt',
       'card_age_f10_19_amt', 'card_age_f20_29_amt', 'card_age_f30_39_amt',
       'card_age_f40_49_amt', 'card_age_f50_59_amt', 'card_age_f60_up_amt',
       'card_age_tot_amt', 'card_age_m_tot_amt', 'card_age_f_tot_amt'],
      dtype='object')

In [33]:
df = pd.DataFrame(data)

In [36]:
# 저장할 경로 수정
output_dir = "C:/fintech_service/Project/data"
output_file = "카드매출_행정동연령_전처리.csv"

# 폴더가 존재하지 않으면 생성
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# 데이터프레임을 CSV 파일로 저장
df.to_csv(os.path.join(output_dir, output_file), index=False, encoding="utf-8-sig")

In [37]:
data.isna().sum()

year_month             0
admi_cd                0
cty_cd                 0
city                   0
buz_type_cd            0
buz_type_nm            0
card_age_m10_19_amt    0
card_age_m20_29_amt    0
card_age_m30_39_amt    0
card_age_m40_49_amt    0
card_age_m50_59_amt    0
card_age_m60_up_amt    0
card_age_f10_19_amt    0
card_age_f20_29_amt    0
card_age_f30_39_amt    0
card_age_f40_49_amt    0
card_age_f50_59_amt    0
card_age_f60_up_amt    0
card_age_tot_amt       0
card_age_m_tot_amt     0
card_age_f_tot_amt     0
dtype: int64